* {
    margin: 0;
    padding: 0;
    /* outline: green 1px solid; */
}

html,
body {
    height: 100%;
    width: 100%;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
}
body {
    --body-bg: rgb(40, 40, 40);
    background-color: var(--body-bg);
    font-family: system-ui;
}

h1 {
    margin-left: 0;
}
.header-start {
    background-image: url("./img/header-start.jpg");
    width: 100vw;
    height: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.title-start {
    transform: translateY(44px);
    font-size: 11rem;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: black;
}

.header-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.title-end {
    font-size: 17rem;
    transform: translateY(-104px);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url("./img/bg-clip.jpg");
    color: transparent;
}

/* * SVG down arrow animations */
.down-arrow-container {
    width: 500px;
}
.down-arrow {
    scale: 200%;
    transform: translateY(-35px) translateX(15px);
}

@keyframes arrow {
    0%,
    100% {
        transform: translateY(0px);
        opacity: 0;
    }
    33%,
    40% {
        transform: translateY(35px);
        opacity: 1;
    }
    66%,
    74% {
        transform: translateY(calc(35px + 13px));
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    99% {
        transform: translateY(calc(35px + 35px + 25px));
        opacity: 0;
    }
}

#arrow1 {
    opacity: 0;
    animation: arrow 3s ease-in-out infinite;
    animation-delay: 0s;
}
#arrow2 {
    opacity: 0;
    animation: arrow 3s ease-in-out infinite;
    animation-delay: 1s;
}
#arrow3 {
    opacity: 0;
    animation: arrow 3s ease-in-out infinite;
    animation-delay: 2s;
}
/* * formatting */
.wrapper {
    max-width: 75rem;
    margin-inline: auto;
    padding-inline: 1rem;
}
section {
    padding-block: 5rem;
}
.section-text {
    font-weight: bold;
}
.section-title,
.section-text {
    text-align: center;
}
.section-title {
    font-size: 2rem;
}

/*  * Spikes and animation */

.spikes {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    --spike-width: 50px;
    --spike-height: 10px;
    --spike-color: var(--body-bg);
    position: relative;
    color: black;
    background: linear-gradient(to right, #fdc830, #f37335);
}

.spikes::before,
.spikes::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background: var(--spike-color);
    -webkit-mask-image: url("./assets/triangle.svg");
    -webkit-mask-size: var(--spike-width) var(--spike-height);
    mask-image: url("./assets/triangle.svg");
    mask-size: var(--spike-width) var(--spike-height);
    animation: spike-motion 0.5s infinite linear;
}

@keyframes spike-motion {
    100% {
        -webkit-mask-position: var(--spike-width);
        mask-position: var(--spike-width);
    }
}

.spikes::before {
    top: 0;
}

.spikes::after {
    bottom: 0;
    transform: rotate(0.5turn);
}

/* * Wavy */

.wavy {
    /* mask created with https://css-generators.com/wavy-shapes */
    background: linear-gradient(to right, #00f260, #0575e6);

    --mask: radial-gradient(45.07px at 50% 62.5px, #000 99%, #0000 101%)
            calc(50% - 50px) 0/100px 51% repeat-x,
        radial-gradient(45.07px at 50% -37.5px, #0000 99%, #000 101%) 50% 25px/100px
            calc(51% - 25px) repeat-x,
        radial-gradient(
                45.07px at 50% calc(100% - 62.5px),
                #000 99%,
                #0000 101%
            )
            calc(50% - 50px) 100%/100px 51% repeat-x,
        radial-gradient(
                45.07px at 50% calc(100% + 37.5px),
                #0000 99%,
                #000 101%
            )
            50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
/* * Dark section(s) */

.dark {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}
.dark .section-title {
    font-size: 16rem;
    z-index: 3;
    text-shadow: #000 5px 5px 5px;
}
.dark .section-text {
    font-size: 2rem;
}

/* * Cards */
.dark .wrapper {
    display: grid;
    grid-template-columns: 1000px 1000px;
    transform: translateX(-350px);
}

.card-wrapper {
    perspective: 300px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    transform: translateX(-225px);
}

.card-container {
    width: 950px;
    padding-top: 2rem;
    justify-content: center;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

    transform: rotateX(0deg) rotateY(350deg)
        /* translateX(130px) translateY(-35px); */;
    transform-style: preserve-3d;

    z-index: -100;
}

.card {
    background-color: white;
    color: black;

    border-radius: 20px;
    border: 10px solid black;

    min-height: 175px;

    align-items: center;
    text-align: center;
}
.card-title {
    font-weight: bolder;
    font-size: 1.5rem;
}
.card-text {
    font-weight: bold;
}
.card1 {
    grid-column: 1 / 3;
}
.card2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

@media screen and (max-width: 1300px) {
    .down-arrow {
        scale: 200%;
        transform: translateY(-32px) translateX(10px);
    }
    .title-end {
        font-size: 13rem;
        transform: translateY(-53px);
    }
    .title-start {
        font-size: 7rem;
        transform: translateY(28px);
    }

    .dark .section-title {
        font-size: 7rem;
        transform: translateX(-250px) translateY(100px);
    }

    .dark .wrapper {
        grid-template-columns: 300px 320px;
        transform: translateX(0px);
    }

    .card-container {
        width: 650px;
    }

}
